<!-- <header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
      <div class=" div.navbar-brand align-item-center d-flex">
          <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
             
          </i>
          <strong style="font-size: 30px;">Flipkart</strong>
      
          <div class="form-group">
              <input type="text" class="form-control" placeholder="search">
          </div>
          <span class="fas fa-search search-icon"></span>

        </div>

        <button routerLink="cart" class="btn btn-primary">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size:10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>

    </div>
</header> -->

<!-- <nav>
    <a routerLink="/departments" routerLinkActive="active">Departements</a>
    <a routerLink="/employees" routerLinkActive="active">Employees</a>
  </nav> -->

  
  <a routerLink="" routerLinkActive="active">HOME</a>
  <a routerLink="../cart" routerLinkActive="active">CART</a>
  <a routerLink="wishList" routerLinkActive="active">Wish List</a>
  <!-- <a routerLink="PROFILE" routerLinkActive="active">PROFILE</a>
  <a routerLink="SETTINGS" routerLinkActive="active">SETTINGS</a> -->
  